.side-menu {
    height: 100%;
    width: 250px;
}

.fonte-titulo {
    font-size: 30px;
    color: #FFD700;
    margin-top: 5px;
    margin-bottom: 5px;
}



.imagem-avatar {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}

img {
    height: 50px;
    width: 50px;
}

.imagem-logo {
    height: 25px;
    width: 25px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: 50px;
}

.instituicao-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-top: 4px;
}

.logo-instituicao {
    padding-top: 7px;
    vertical-align: middle;
}

.redes-sociais-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

body {
    background-color:#7B68EE;
}

.avatar { 
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}