.container {
    display: flex;
    flex-direction: row;
}

.informacoes {
    margin-left: 100px;
    margin-top: 22px;
}

.informacoes-box {
    margin-top: 30px;
}

.informacoes-box h1{
    display: flex;
    justify-content: center;
    margin-left: -125px;
}

.side-menu {
    height: 100%;
    width: 250px;
}

.fonte-titulo {
    font-size: 30px;
    color: #FFD700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fonte-subtitulo {
    display: flex;
    font-size: 20px;
    color: #FFD700;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.imagem-avatar {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}

img {
    height: 50px;
    width: 50px;
}

.container-avatar {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: 50px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: 50px;  
    margin-top: 7px;
}

.img-redes {
    margin-left: 20px;
}

.imagem-logo {
    padding-top: 4px;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.redes-sociais-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-top: 14px;
}

.instituicao-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-top: 5px;
}

body {
    background-color:#7B68EE;
}

.avatar { 
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-redes-sociais {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.selos-habilidades {
    margin-top: 25px;
    width: 600px;
    margin-left: 15%;
}

.selo {
    line-height: 50px;
    background-color: blue;
    border-radius: 20px 20px;
    border: 2px solid red;
    padding: 5px 15px;
    color: white;
}

.contato-box {
    display: flex;
    justify-content: center;
    margin-left: -125px;
}

.empresas {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.empresas-dados {
    display: flex;
    font-size: 20px;
    color: #FFD700;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 22px;
}

.experiencias-box{
    margin-top: 20px;
}
.experiencias-box h1{
    display: flex;
    justify-content: center; 
    margin-left: -125px;
}

.campo-experiencia {
    display: flex;
    flex-direction: row;
}

.realizado-empresas {
    margin-left: 10%;
    margin-top: 15px;
    border-left: 2px solid tomato;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.realizado-empresas span {
    margin-top: 10px;
}
